@import "tailwindcss";

@font-face {
  font-family: "Aeonik Pro";
  src: url("../fonts/AeonikPro-Regular (1).otf") format("opentype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik Pro";
  src: url("../fonts/AeonikPro-Medium (1).otf") format("opentype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@theme {
  --color-selection-blue: #1985cc;
  --font-aeonik: "Aeonik Pro", sans-serif;
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply font-aeonik;
    background-color: #f0f0f0;
    margin: 0;
  }
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
